* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    margin: 0;
}

/* Título arriba */
h1 {
    text-align: center;
    margin: 20px 0;
}

/* Contenedor debajo del título */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Card */
.card {
    width: 200px;
    background: #1e293b;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05) translateY(-10px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}